:root {
    --obsidian: #353535;
    --teal: #3c6e71;
    --white: #ffffff;
    --grey: #d9d9d9;
    --navy: #284b63;
}

body {
    background-color: var(--grey);
}

header {
    background-color: var(--obsidian);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

h1 {
    font-size: 40px;
}

header ul li {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
}